[Unit]
Description=The crowdsec custom connector
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=${BIN} -c ${CFG}/custom-blocker.yaml
ExecStartPost=/bin/sleep 0.1

[Install]
WantedBy=multi-user.target


